#ifndef SECRETS_H
#define SECRETS_H

const char* ssid = "Your WiFi SSID";             
const char* wifiPass = "WPA Key";  

const char* otaPassword = "OTApass";

const char* webAuthUser = "admin";
const char* webAuthPass = "adminPass";

const char* openWeatherApiKey = "APIKEY";

const char* mqttUser = "MQTTuser";
const char* mqttPassword = "MQTTpass";

#endif